/* Common */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

address {
  font-style: normal;
}

.center {
  width: 1160px;
  margin: 0 auto;
}

.page {
  scroll-behavior: smooth;
  height: 100%;
  color: #444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 167%;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-main {
  flex-grow: 1;
}

.title {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
}

.title::selection {
  color: #ffe17f;
  background: #000
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: 0 0;
  border: none;
  cursor: pointer;
  outline: 2px solid transparent;

}

.button::before {
  content: "";
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  transition: all 0.3s linear;
}

.button span {
  position: absolute;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.button:focus-visible {
  outline-color: #af4fff;
}

.button:hover::before {
  top: 0;
  height: 40px;
}

.button:active::before {
  background-color: #ffc700;
}

.button:disabled {
  opacity: 0.3;
}

.logo-link {
  display: grid;
  place-content: center;
  width: 149px;
  height: 40px;
  outline: 2px solid transparent;
}

.logo-link:focus-visible {
  outline-color: #af4fff;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}


/* Header */

.page-header {
  background-image: linear-gradient(to bottom, #ffffff 40px, #ffe17f 40px);
  padding: 18px 60px 38px;
}

.header-top {
  display: flex;
  padding: 30px 0;
}

/* Header User Menu */

.user-menu-list {
  display: flex;
  align-items: center;
  width: 497px;
  height: 40px;
}

.user-menu-left {
  display: flex;
  margin-right: auto;
  gap: 18px;
}

.user-menu-right {
  display: flex;
  gap: 18px;
}

.user-menu-link {
  color: #000;
  padding: 7px 5px;
  outline: 2px solid transparent;
}

.user-menu-cart {
  padding-left: 45px;
  padding-right: 10px;
}

.user-menu-link:focus-visible {
  outline-color: #af4fff;
}

.user-menu-link:hover {
  opacity: 0.6;
}

.user-menu-link:active {
  opacity: 0.3;
}

.user-menu-login::before {
  content: url(../img/header-icon-login.svg);
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.user-menu-compare::before {
  content: url(../img/header-icon-compare.svg);
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.user-menu-cart {
  position: relative;
}

.user-menu-cart::before {
  content: url(../img/header-icon-cart.svg);
  position: absolute;
  left: 17px;
  width: 16px;
  height: 14px;
}

.cart-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 8px;
  left: 2px;
}

/* Header Navigation */

.navigation-menu-list {
  display: flex;
}

.navigation-menu-item-catalog {
  position: relative;
}

.navigation-menu-link {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  outline: 2px solid transparent;
}

.navigation-catalog {
  padding: 15px 70px 17px 2px;
}

.navigation-menu-button {
  position: absolute;
  left: 243px;
  top: calc((100% - 50px)/2);
  opacity: 0.3;
  cursor: pointer;
}

.navigation-menu-link:focus-visible {
  outline-color: #af4fff;
}

.navigation-menu-item:hover .navigation-menu-button {
  opacity: 1;
}

.navigation-menu-item:hover .navigation-menu-link {
  opacity: 0.6;
}

.navigation-menu-item:active .navigation-menu-link {
  opacity: 0.3;
}


.navigation-menu-right {
  display: flex;
  gap: 47px;
  margin-left: auto;
}

/* Footer */
.page-footer {
  background-color: #444;
}

.footer-content {
  padding: 62px 0;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-center-row {
  display: grid;
  grid-template-columns: 1fr 444px 1fr;
  align-items: center;
  margin-bottom: 47px;
}

.footer-address {
  width: 239px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

.footer-telefon {
  display: block;
  text-align: end;
  text-decoration: underline;

}

.footer-list {
  width: 444px;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-bottom-row {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 150px 1fr;

}

.footer-bottom-row::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  top: 18px;
  left: 0;
}

.footer-social {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
}

.footer-telefon {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

.footer-developed {
  /* margin-top: 64px; */
  /* margin-left: auto; */
  margin-left: 390px;
}

.wrapper {
  width: 80px;
}

/* Forms */

.search-form {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  margin-right: auto;
}

.search-field-group {
  display: flex;
}

.search-field-input {
  font-family: inherit;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  border: 2px solid #000;
  border-radius: 50px 0 0 50px;
  padding-left: 16px;
  width: 359px;
  height: 40px;
  background-color: transparent;
  border-right: none;
}

.search-field-input:focus {
  outline: none;
}

.search-field-input::placeholder {
  font-family: inherit;
  color: #000;
}

.search-field-button {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0 50px 50px 0;
  width: 160px;
  cursor: pointer;
}

.search-field-group .search-field-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  z-index: 2;
}

.text-field__group .text-field__btn {
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.subscribe-field-group {
  display: flex;
  border-bottom: 3px solid #cecece;
  width: 809px;
}


.subscribe-field-input {
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  width: 557px;
  height: 55px;
  padding: 0px 0px 0px 16px;
  outline: none;

}

.subscribe-field-button {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  border-top: 3px solid #cecece;
  border-left: 3px solid #cecece;
  border-right: 3px solid #cecece;
  border-bottom: none;
  width: 292px;
  height: 57px;
}

/* Slider */

.slider {
  margin-bottom: 70px;
}

.slider-container {
  position: relative;
}

.slider-container::before {
  content: "";
  position: absolute;
  display: block;
  width: 1160px;
  height: 114px;
  top: 0;
  background-color: #ffe17f;
  z-index: -1;
}

.slider-controls {
  position: absolute;
  display: flex;
  gap: 20px;
  right: 0;
  bottom: 173px;
  z-index: 30;
}

.slider-control {
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #000;
  border-radius: 50%;
  background: transparent;
}

.slider-control-active {
  background-color: #000;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.slider-item-active::after {
  content: attr(data-number);
  font-size: 180px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.79px;
  color: #fff;
  position: absolute;
  top: -24px;
  right: 48px;
  z-index: 10;
}

.slider-image {
  display: block;
  height: 560px;
  position: absolute;
  top: -38px;
}

.slider-image-controls svg:first-child {
  position: absolute;
  top: 173px;
  left: 30px
}

.slider-image-controls svg:last-child {
  position: absolute;
  top: 173px;
  left: 560px
}

.slider-content {
  width: 560px;
  padding-top: 85px;
  z-index: 20;
}

.slider-title {
  z-index: 20;
}

.slider-description {
  padding: 29px 0 51px;
}

.slider-button {
  width: 220px;
  height: 40px;
  margin-bottom: 50px;
}

.slider-details {
  display: flex;
  gap: 20px;
}

.slider-details-item {
  width: 147px;
}

.slider-details-item dt {
  font-weight: 400;
  font-size: 36px;
  line-height: 83%;
  color: #000;
  margin-bottom: 12px;
}

.slider-details-item dd {
  font-size: 16px;
  line-height: 187%;

}

/* Category */

.category {
  margin-bottom: 70px;
}

.category-list {
  display: flex;
  justify-content: space-between;
}

.category-item {
  width: 160px;
  height: 253px;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.category-link {
  display: block;
  position: relative;
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
}

.category-link.vr {
  background-image: url("../img/category-images-1.svg");
}

.category-link.monopods {
  background-image: url("../img/category-images-2.svg");
}

.category-link.action-cameras {
  background-image: url("../img/category-images-3.svg");
}

.category-link.fitness-band {
  background-image: url("../img/category-images-4.svg");
}

.category-link.smart-watch {
  background-image: url("../img/category-images-5.svg");
}

.category-link.drones {
  background-image: url("../img/category-images-6.svg");
}

.category-link span {
  position: absolute;
  top: 192px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #000;
  text-decoration: none;
}

.category-link:focus {
  outline: none;
}

.category-item:hover .category-link {
  background-color: #ffc700;
}

.category-item:active .category-link {
  opacity: 0.3;
}

.category-item:focus-within {
  outline-color: #af4fff;
}

/* Advantages */

.advantages {
  height: 390px;
  background-image: linear-gradient(to bottom, #ffffff 100px, #f0f0f0 100px);
  margin-bottom: 70px;
}

.advantages-containter {
  display: flex;
}

.advantages-list {
  width: 280px;
  height: 320px;
  border-right: #000 solid 7px;
  padding: 64px 0;
}

.advantages-button {
  width: 160px;
  height: 40px;
  margin-right: 120px;
  margin-bottom: 35px;
  z-index: 10;
}

.advantages-button.active span {
  color: #ffe17f;
}

.advantage-button.active:focus .button {
  outline: none;
}

.advantages-button.active::before {
  top: 0;
  width: 280px;
  height: 40px;
  background-color: #000;
  outline: 2px solid none;
  outline-offset: 2px;
}

.advantages-button.active:focus-visible::before {
  outline-color: #af4fff;
}

.advantages-button.active:hover span {
  color: rgba(255, 225, 127, 0.5);
}

.advantages-button:active span {
  color: rgba(255, 225, 127, 0.3);
}


.advantages-wrapper {
  padding: 72px 63px 72px 116px;
}


.advantage-title {
  margin-bottom: 35px;
}

.advantage-text {
  width: 450px;
}

.advantage {
  display: none;
  position: relative;
}

.advantage.active {
  display: block;
}

.advantage.delivery.active::after {
  content: url(../img/advantages-delivery.svg);
  position: absolute;
  top: 4px;
  left: 674px;
}

.advantage.warranty.active::after {
  content: url(../img/advantages-warranty.svg);
  position: absolute;
  top: 4px;
  left: 674px;
}

.advantage.credit.active::after {
  content: url(../img/advantages-credit.svg);
  position: absolute;
  top: 4px;
  left: 674px;
}

/* Special */

.special {
  background-color: #f0f0f0;
  height: 100px;
  margin-bottom: 70px;
  position: relative;
}

.special::before {
  content: url(../img/special-delivery.svg);
  position: absolute;
  width: 125px;
  height: 100px;
  z-index: 10;
}

.special::after {
  content: url(../img/special-i.svg);
  position: absolute;
  width: 125px;
  height: 100px;
  z-index: 10;
  right: 0;
  top: 0;
}

.special-wrapper {
  height: 100px;
  display: flex;

}

.special-text {
  margin: auto;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

/* Info  - Common styles for About and Contacts*/

.info-container {
  display: flex;
  margin-bottom: 70px;
}

.about,
.contacts {
  width: 520px;
}

.about::before,
.contacts::before {
  content: "";
  display: block;
  width: 84px;
  height: 7px;
  background-color: #000;
  margin-bottom: 61px;
}

.about .title,
.contacts .title {
  margin-bottom:
    48px;
}

.about-text,
.contacts-text {
  line-height: 167%;
}

.about-container,
.contacts-container {
  display: grid;
  gap: 30px;
}

.about-button,
.contacts-button {
  width: 270px;
  height: 40px;
}

/* About */

.about {
  margin-right: auto;
}

.about-list-item {
  color: #ffc700;
}

.about-list-item-text {
  color: #000;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
}

/* Contacts */

.contacts-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 15px;
}

.contacts-telefon {
  color: inherit;
  text-decoration: none;
}

/* Subscribe */

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-top {
  display: flex;
  padding: 64px 0 114px;

}

.subscribe-title {
  width: 350px;
  margin-right: auto;
}

.subscribe-text {
  width: 560px;
}

.subscribe-bottom {
  width: 1158px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 52px;
  position: relative;
}

.subscribe-note::before {
  content: url("../img/icon-tick-big.svg");
  /* margin-right: 17px; */
  position: absolute;
  top: 15px;
  right: 143px;

}

/* Catalog header */

.catalog-header {
  padding: 35px 21px 35px 60px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

/* Catalog */

.catalog {
  background-color: #f0f0f0;
}

.catalog-content {
  display: flex;
}

/* Filter */

.filter,
.sort {
  /* background-color: #f0f0f0; */
}

.filter-title,
.sort-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
}

.filter {
  box-sizing: border-box;
  width: 320px;
  padding: 25px 60px 0;
}

.filter-fieldset-title {
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #000;
}

.filter-button {
  width: 220px;
  height: 40px;
}

/* Sort */

.sort {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
}

.sort-field-select {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.sort-button {
  width: 30px;
  height: 30px;
  border: none;
}

.sort-button.up {
  background-image: url("../img/sort-button-up.svg");
}

.sort-button.down {
  background-image: url("../img/sort-button-down.svg");
}

/* Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  background-color: #fff;
  padding: 70px 40px 0px 40px;

}

.card-link {
  text-decoration: none;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #000;
}

/* Pagination */

.pagination {
  padding-bottom: 78px;
}

.pagination-button {
  background-color: #fff;
  border: 3px solid #e5e5e5;
  width: 760px;
  height: 55px;
  margin-bottom: 44px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.pagination-container {
  padding: 25px;
  background-color: #ebebeb;
  display: flex;
  position: relative;
}

.pagination-control {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 10;
}

.pagination-control.back {
  position: absolute;
}

.pagination-control.forward {
  position: absolute;
  right: 25px;
}

.pagination-list {
  width: 200px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #444;
  opacity: 0.3;
  margin-right: auto;
  margin-left: auto;

}

.pagination-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 125%;
  color: inherit;
}