/* Common */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

address {
  font-style: normal;
}

.center {
  width: 1160px;
  margin: 0 auto;
}

.page {
  scroll-behavior: smooth;
  height: 100%;
  color: #444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 167%;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-main {
  flex-grow: 1;
}

.title {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
}

.title::selection {
  color: #ffe17f;
  background: #000
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: 0 0;
  border: none;
  cursor: pointer;
  outline: 2px solid transparent;

}

.button::before {
  content: "";
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  transition: all 0.3s linear;
}

.button span {
  position: absolute;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button:focus-visible {
  outline-color: #af4fff;
}

.button:hover::before {
  top: 0;
  height: 40px;
}

.button:active::before {
  background-color: #ffc700;
}

.button:disabled {
  opacity: 0.3;
}

.logo-link {
  display: grid;
  place-content: center;
  width: 149px;
  height: 40px;
  outline: 2px solid transparent;
}

.logo-link:focus-visible {
  outline-color: #af4fff;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}


/* Header */

.page-header {
  background-image: linear-gradient(to bottom, #ffffff 40px, #ffe17f 40px);
  padding: 18px 60px 38px;
}

.header-top {
  display: flex;
  padding: 30px 0;
}

/* Header User Menu */

.user-menu-list {
  display: grid;
  grid-template-columns: max-content 1fr auto auto;
  align-items: center;
  gap: 18px;
  width: 497px;
  height: 40px;
}

.user-menu-item {
  position: relative;
}

.user-menu-link {
  color: #000;
  padding: 7px 5px;
  padding-right: 0;
  outline: 2px solid transparent;
}

.user-menu-link:focus-visible {
  outline-color: #af4fff;
}

.user-menu-link:hover {
  opacity: 0.6;
}

.user-menu-link:active {
  opacity: 0.3;
}

.user-menu-login::before {
  content: url(../img/header-icon-login.svg);
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.user-menu-logout {
  display: none;
}

.user-menu-logout-active {
  opacity: 0.3;
}

.user-menu-compare::before {
  content: url(../img/header-icon-compare.svg);
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.user-menu-cart {
  position: relative;
  padding-left: 45px;
}

.user-menu-cart::before {
  content: url(../img/header-icon-cart.svg);
  position: absolute;
  left: 17px;
  width: 16px;
  height: 14px;
}

.cart-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 8px;
  left: 2px;
}

/* Header Navigation */

.navigation-menu-list {
  display: flex;
}

.navigation-menu-item-catalog {
  position: relative;
}

.navigation-menu-link {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  outline: 2px solid transparent;
}

.navigation-catalog {
  padding: 15px 70px 17px 2px;
}

.navigation-menu-button {
  position: absolute;
  left: 243px;
  top: calc((100% - 50px)/2);
  opacity: 0.3;
  cursor: pointer;
  z-index: 40;
}

.navigation-menu-button.plus {
  display: block;
}

.navigation-menu-button.minus {
  display: none;
}

.navigation-menu-link:focus-visible {
  outline-color: #af4fff;
}


.navigation-menu-item:hover .navigation-menu-link {
  opacity: 0.6;
}

.navigation-menu-item:active .navigation-menu-link {
  opacity: 0.3;
}

.navigation-menu-right {
  display: flex;
  gap: 47px;
  margin-left: auto;
}

/* Footer */

.page-footer {
  background-color: #444;
}

.footer-content {
  padding: 62px 0;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-center-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 47px;
}

.footer-address {
  width: 239px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

.footer-telefon {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-decoration: underline;
  outline: 2px solid transparent;
}

.footer-telefon:focus-visible {
  outline-color: #af4fff;
}

.footer-telefon:hover {
  color: #ffc700;
}

.footer-telefon:active {
  opacity: 0.3;
}

.footer-list {
  width: 444px;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-bottom: 4px;
  outline: 2px solid transparent;
}

.footer-link:focus-visible {
  outline-color: #af4fff;
}

.footer-link:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
}

.footer-link:active {
  opacity: 0.3;
}


.footer-bottom-row {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 150px 1fr;

}

.footer-bottom-row::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  top: 18px;
  left: 0;
}

.footer-social {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  outline: 2px solid transparent;
}

.social-link:focus-visible {
  outline-color: #af4fff;
}

.social-link:hover circle {
  fill: #ffc700;
  fill-opacity: 1;
}

.social-link:active path {
  fill: #C7A014;
}

.footer-developed {
  margin-left: 390px;
  outline: 2px solid transparent;
}

.footer-developed:focus-visible {
  outline-color: #af4fff;
}

.footer-developed:hover path {
  fill: #fff;
}

.footer-developed:active path {
  opacity: 0.3;
}

.footer-wrapper {
  width: 80px;
}

/* Forms */

/* Search */

.search-form {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  margin-right: auto;
}

.search-field-group {
  display: flex;
  position: relative;
}

.search-field-input {
  position: relative;
  font-family: inherit;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  border: 2px solid #000;
  border-radius: 50px 0 0 50px;
  padding-left: 48px;
  width: 359px;
  height: 40px;
  background-color: transparent;
  border-right: none;
  outline: transparent;
}

.search-field-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  position: absolute;
  top: 12px;
  left: 16px;
}

.search-outline-wrapper {
  display: none;
  position: absolute;
  top: -2px;
  left: -1px;
  outline: 2px solid #af4fff;
  width: 360px;
  height: 44px;
}

.search-field-group:focus-within .search-outline-wrapper {
  display: block;
}

.search-field-input::placeholder {
  font-family: inherit;
  color: #000;
  opacity: 0.3;
}

.search-field-input:disabled {
  opacity: 0.3;
}

.search-field-input:disabled+.search-field-label {
  opacity: 0.3;
}

.search-field-button {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0 50px 50px 0;
  width: 160px;
  outline: transparent;
}

.search-button-outline-wrapper {
  display: none;
  position: absolute;
  top: -2px;
  right: -1px;
  outline: 2px solid #af4fff;
  width: 160px;
  height: 44px;
}

.search-field-button:hover:enabled {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.search-field-button:active:enabled {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000;
}

.search-field-group:focus-within .search-button-outline-wrapper {
  display: block;
}

.search-field-button:disabled {
  opacity: 0.3;
}

/* Subscribtion */

.subscribe-field-group {
  display: flex;
  width: 809px;
}

.subscribe-field-input {
  font-family: inherit;
  color: #000;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  border: none;
  width: 557px;
  height: 57px;
  padding: 0px 0px 0px 16px;
  outline: transparent;
  border-bottom: 3px solid #cecece;
}

.subscribe-field-input::placeholder {
  opacity: 0.5;
}

.subscribe-field-input:focus {
  background-color: #dcdcdc;
}

.subscribe-field-input:disabled {
  opacity: 0.3;
}

.subscribe-field-input-error {
  border-color: #ff3d3d;
}

.subscribe-field-button {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #cecece;
  width: 292px;
  cursor: pointer;
  height: 57px;
  outline: 2px solid transparent;
}

.subscribe-field-button:focus-visible:enabled {
  outline-color: #af4fff;
  outline-offset: 2px;
}

.subscribe-field-button:hover:enabled {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.subscribe-field-button:active:enabled {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000;
  border-color: #000;
}

.subscribe-field-button:disabled {
  opacity: 0.3;
  cursor: default;
}

/* Slider */

.slider {
  margin-bottom: 70px;
}

.slider-container {
  position: relative;
}

.slider-container::before {
  content: "";
  position: absolute;
  display: block;
  width: 1160px;
  height: 114px;
  top: 0;
  background-color: #ffe17f;
  z-index: -1;
}

.slider-controls {
  position: absolute;
  display: flex;
  gap: 16px;
  right: 0;
  bottom: 173px;
  z-index: 30;
}

.slider-control-button {
  display: flex;
  width: 16px;
  height: 16px;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  outline: 2px solid transparent;
}

.slider-control {
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slider-control-button:focus-visible {
  outline-color: #af4fff;
}

.slider-control-button:hover {
  opacity: 0.6;
}

.slider-control-button:active {
  opacity: 0.3;
}

.slider-control-active {
  background-color: #000;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.slider-item-active::after {
  content: attr(data-number);
  font-size: 180px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.79px;
  color: #fff;
  position: absolute;
  top: -24px;
  right: 48px;
  z-index: 10;
}

.slider-image {
  display: block;
  height: 560px;
  position: absolute;
  top: -38px;
}

.slider-image-control {
  border: none;
  height: 60px;
  background-color: transparent;
  outline: 2px solid transparent;
  cursor: pointer;
  z-index: 10;
}

.slider-image-control.left {
  position: absolute;
  top: 173px;
  left: 30px
}

.slider-image-control.right {
  position: absolute;
  top: 173px;
  left: 560px
}

.slider-image-control:focus-visible {
  outline-color: #af4fff;
}

.slider-image-control:hover {
  opacity: 0.6;
}

.slider-image-control:active {
  opacity: 0.3;
}

.slider-content {
  width: 560px;
  padding-top: 85px;
  z-index: 20;
}

.slider-title {
  z-index: 20;
}

.slider-description {
  padding: 29px 0 51px;
}

.slider-button {
  width: 220px;
  height: 40px;
  margin-bottom: 50px;
}

.slider-details {
  display: flex;
  gap: 20px;
}

.slider-details-item {
  width: 147px;
}

.slider-details-item dt {
  font-weight: 400;
  font-size: 36px;
  line-height: 83%;
  color: #000;
  margin-bottom: 12px;
}

.slider-details-item dd {
  font-size: 16px;
  line-height: 187%;

}

/* Category */

.category {
  margin-bottom: 70px;
}

.category-list {
  display: flex;
  justify-content: space-between;
}

.category-item {
  width: 160px;
  height: 253px;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.category-link {
  display: block;
  position: relative;
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
}

.category-link.vr {
  background-image: url("../img/category-images-1.svg");
}

.category-link.monopods {
  background-image: url("../img/category-images-2.svg");
}

.category-link.action-cameras {
  background-image: url("../img/category-images-3.svg");
}

.category-link.fitness-band {
  background-image: url("../img/category-images-4.svg");
}

.category-link.smart-watch {
  background-image: url("../img/category-images-5.svg");
}

.category-link.drones {
  background-image: url("../img/category-images-6.svg");
}

.category-link span {
  position: absolute;
  top: 192px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #000;
}

.category-link:focus {
  outline: transparent;
}

.category-item:hover .category-link {
  background-color: #ffc700;
}

.category-item:active .category-link {
  opacity: 0.3;
}

.category-item:focus-within {
  outline-color: #af4fff;
}

/* Advantages */

.advantages {
  height: 390px;
  background-image: linear-gradient(to bottom, #ffffff 100px, #f0f0f0 100px);
  margin-bottom: 70px;
}

.advantages-containter {
  display: flex;
}

.advantages-list {
  width: 280px;
  height: 320px;
  border-right: #000 solid 7px;
  padding: 64px 0;
}

.advantages-button {
  width: 160px;
  height: 40px;
  margin-bottom: 35px;
  z-index: 10;
}

.advantages-button.active {
  width: 280px;
  padding-right: 120px;
}

.advantages-button.active span {
  color: #ffe17f;
}

.advantages-button.active::before {
  top: 0;
  width: 280px;
  height: 40px;
  background-color: #000;
  outline: 2px solid none;
  outline-offset: 2px;
}

.advantages-button.active:focus-visible::before {
  outline-color: #af4fff;
}

.advantages-button.active:hover span {
  color: rgba(255, 225, 127, 0.5);
}

.advantages-button.active:active span {
  color: rgba(255, 225, 127, 0.3);
}

.advantages-wrapper {
  padding: 72px 63px 72px 116px;
}


.advantage-title {
  margin-bottom: 35px;
}

.advantage-text {
  width: 450px;
}

.advantage {
  display: none;
  position: relative;
}

.advantage.active {
  display: block;
}

.advantage.delivery.active::after {
  content: url(../img/advantages-delivery.svg);
  position: absolute;
  top: 4px;
  left: 674px;
}

.advantage.warranty.active::after {
  content: url(../img/advantages-warranty.svg);
  position: absolute;
  top: 4px;
  left: 674px;
}

.advantage.credit.active::after {
  content: url(../img/advantages-credit.svg);
  position: absolute;
  top: 4px;
  left: 674px;
}

/* Special */

.special {
  margin-bottom: 70px;
}

.special-link {
  background-color: #f0f0f0;
  display: block;
  height: 100px;
  outline: 2px solid transparent;
  position: relative;
}

.special-wrapper {
  height: 100px;
  display: flex;
}

.special-icon-wrapper {
  position: absolute;
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
  background-image: url(../img/special-delivery-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.special-more-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  background-color: rgba(220, 220, 220, 0.5);
  width: 40px;
  height: 40px;
  z-index: 10;
  right: 42px;
  top: 30px;
}

.special-link:focus-visible {
  outline-color: #af4fff;
  outline-offset: 2px;
}

.special-link:hover .special-icon-wrapper {
  background-color: #ffc700;
}

.special-link:hover g {
  opacity: 1;
}

.special-link:active {
  opacity: 0.3;
}

.special-text {
  margin: auto;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

/* Info  - Common styles for About and Contacts*/

.info-container {
  display: flex;
  margin-bottom: 70px;
}

.about,
.contacts {
  width: 520px;
}

.about::before,
.contacts::before {
  content: "";
  display: block;
  width: 84px;
  height: 7px;
  background-color: #000;
  margin-bottom: 61px;
}

.about .title,
.contacts .title {
  margin-bottom:
    48px;
}

.about-text,
.contacts-text {
  line-height: 167%;
}

.about-container,
.contacts-container {
  display: grid;
  gap: 30px;
}

.about-button,
.contacts-button {
  width: 270px;
  height: 40px;
}

/* About */

.about {
  margin-right: auto;
}

.about-list-item {
  color: #ffc700;
}

.about-list-item-text {
  color: #000;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
}

/* Contacts */

.contacts-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 15px;
}

.contacts-telefon {
  color: inherit;
  text-decoration: none;
}

/* Subscribe */

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-top {
  display: flex;
  padding: 64px 0 114px;

}

.subscribe-title {
  width: 350px;
  margin-right: auto;
}

.subscribe-text {
  width: 560px;
}

.subscribe-bottom {
  width: 1158px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 52px;
  position: relative;
}

.subscribe-note::before {
  content: url("../img/icon-tick-big.svg");
  /* margin-right: 17px; */
  position: absolute;
  top: 15px;
  right: 143px;

}

/* Catalog header */

.catalog-header {
  padding: 35px 21px 35px 60px;
}

.catalog-title {
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  height: 19px;
  align-items: center;
  gap: 36px;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #000;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: url(../img/catalog-breadcrumbs.svg);
  width: 4px;
  height: 7px;
  opacity: 0.3;
  position: absolute;
  right: -20px;
  bottom: 25px;
}

/* Catalog */

.catalog {
  background-color: #f0f0f0;
}

.catalog-content {
  display: flex;
}

/* Filter */

.filter,
.sort {}

.filter-title,
.sort-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
}

.filter-title {
  margin-bottom: 60px;
}

.filter {
  box-sizing: border-box;
  width: 320px;
  padding: 25px 60px 0;
}

.filter-fieldset {
  border: none;
  margin-bottom: 35px;
}

.filter-fieldset-price {
  padding-bottom: 46px;
}

.filter-fieldset-title {
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #000;
  margin-bottom: 20px;
}

.filter-fieldset-title::before {
  content: "";
  display: block;
  height: 2px;
  width: 200px;
  background-color: #000;
  margin-bottom: 11px;
}

.filter-button {
  width: 220px;
  height: 40px;
}

.filter-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 168px;
}

/* Slider-bar */

.range-slider {
  height: 2px;
  background-color: #dcdcdc;
  position: relative;
}

.slider-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #000;
  position: absolute;
}

.slider-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ebebeb;
  border: 2px solid #000;
  border-radius: 50%;
}

.slider-thumb:hover {
  background-color: #f3f3f3;
  border-color: #838383;
}

.slider-thumb:active {
  background-color: #000;
  border-color: #000;
}

.thumb-min {
  left: -9px;
}

.thumb-max {
  right: 0;
}

/* Range */

.range-field {
  position: absolute;
  top: 11px;
  font-weight: 400;
  font-size: 15px;
  color: #c1c1c1;
}

.range-field.min {
  left: -14px;
}

.range-field.max {
  right: 55px;
}

.range-input {
  background-color: transparent;
  width: auto;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: textfield;
  width: 5ch;
  border: transparent;
  outline: 2px solid transparent;
  color: inherit;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:focus-visible {
  outline-color: #af4fff;
}

/* Control */

.control {
  position: relative;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.outline-wrapper {
  display: none;
  position: absolute;
  content: "";
  top: 4px;
  left: -1px;
  width: 24px;
  height: 24px;
  outline: 2px solid #af4fff;
}

.control-lead {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 16px;
  align-items: center;
  color: #000;
}

.control-lead::before,
.control-lead::after {
  content: "";
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 20px;
  margin-top: 2px;
}

.control-lead::before {
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.control-lead::after {
  display: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/tick.svg");
}

.control-input:disabled+.control-lead {
  opacity: 0.1;
}

.control-input:checked~.control-lead::after {
  display: block;
}

.control-input:checked~.control-lead::before {
  border-color: #000;
}

.control-input:focus-visible+.outline-wrapper {
  display: block;
}

/* Radio */

.control-input[type="radio"]~.control-lead::before {
  border-radius: 50%;
}

.control-input[type="radio"]~.control-lead::after {
  background-color: #000;
  background-image: none;
  background-clip: content-box;
  border: 6px solid transparent;
  border-radius: 50%;
}

/* Sort */

.sort {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
}

.select-control {
  width: 160px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 167%;
  outline: 2px solid transparent;
}

.select-control:focus-visible {
  outline-color: #af4fff;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:disabled {
  opacity: 0.1;
}

.sort-button {
  width: 30px;
  height: 30px;
  border: none;
}

.sort-button.up {
  background-image: url("../img/sort-button-up.svg");
}

.sort-button.down {
  background-image: url("../img/sort-button-down.svg");
}

/* Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  background-color: #fff;
  padding: 70px 40px 0px 40px;
}

.card {
  position: relative;
}

.card-link {
  display: block;
  outline: 2px solid transparent;
}

.card-image {
  margin-bottom: 32px;
}

.card-text-content {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-items: end;
}

.card-title {
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #000;
}

.card-price {
  color: #444;
}

.card-button {
  display: none;
  height: 40px;
  width: 220px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 170px;
  left: 70px;
}

.card-button::before {
  content: "";
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
}

.card-button span {
  position: absolute;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.card-link:focus-visible {
  outline-color: #af4fff;
  outline-offset: 2px;
}

.card-link:hover .card-wrapper {
  opacity: 0.6;
}

.card-link:hover .card-button {
  display: flex;
}

.card-link:active .card-button::before {
  background-color: #ffc700;
}

/* Pagination */

.pagination {
  padding-bottom: 78px;
}

.pagination-button {
  background-color: #fff;
  border: 3px solid #e5e5e5;
  width: 760px;
  height: 55px;
  margin-bottom: 44px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
  outline: 2px solid transparent;
}

.pagination-button:focus-visible {
  outline-color: #af4fff;
  outline-offset: 2px;
}

.pagination-button:hover {
  border-color: #000;
}

.pagination-button:active {
  opacity: 0.3;
}

.pagination-container {
  height: 71px;
  background-color: #ebebeb;
  display: flex;
  position: relative;
}

.pagination-control {
  display: inline-block;
  height: 71px;
  padding: 25px;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 10;
  position: absolute;
  outline: 2px solid transparent;
}

.pagination-control.forward {
  right: 0;
}

.pagination-control:focus-visible {
  outline-color: #af4fff;
  outline-offset: 2px;
}

.pagination-control:hover {
  background-color: #dcdcdc;
}

.pagination-control:active span {
  opacity: 0.3;
}

.pagination-list {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.pagination-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: 2px solid transparent;
}

.pagination-link span {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #444;
  opacity: 0.3;
}

.pagination-link.current span {
  opacity: 0.6;
}

.pagination-link:focus-within {
  outline-color: #af4fff;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  opacity: 0.1;
}

/* Popover */

.popover-cart {
  display: none;
  position: absolute;
  top: 35px;
  right: -60px;
  z-index: 30;
  width: 320px;
  background-color: #000;
  min-height: 190px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

.user-menu-item:hover .popover-cart {
  display: block;
}

.popover-cart::before {
  content: "";
  position: absolute;
  background-image: url(../img/popover-triangle.svg);
  top: -6px;
  height: 7px;
  width: 14px;
  left: calc(50% - 7px);
}

.popover-content {
  height: 100%;
  display: grid;
}

.cart-item-list {
  grid-column: 1/-1;
}

.cart-item {
  display: grid;
  padding: 20px 20px;
  grid-template-columns: 39px 1fr 10px;
  column-gap: 23px;
}

.cart-item-title {
  grid-column: 2/3;
}

.cart-item-button {
  grid-column: -2/-1;
  background-color: transparent;
  border: none;
  width: 10px;
  height: 10px;
}

.cart-summary {
  grid-column: 1/-1;
  display: grid;
  align-items: center;
  width: 100%;
  height: 44px;
  grid-template-columns: 50% 50%;
  background-color: #1a1a1a;
  padding: 0 20px;
}

.cart-cost {
  justify-self: end;
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #fff;
  margin: 20px 20px;
  grid-column: 1/-1;
  outline: 2px solid transparent;
}

.cart-button span {
  position: absolute;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.cart-button:focus-visible {
  outline-color: #af4fff;
}

.cart-button:active span {
  opacity: 0.3;
}

/* Popover catalog */

.popover-catalog {
  display: none;
  position: absolute;
  top: 45px;
  left: -60px;
  z-index: 30;
  width: 1160px;
  background-color: #ffe17f;
  min-height: 180px;
  padding: 33px 60px 27px;
}

.popover-catalog-list {
  display: flex;
  column-gap: 30px;
}

.popover-catalog-wrapper {
  width: 210px;
}

.popover-catalog-item a {
  font-size: 16px;
  line-height: 112%;
  color: #000;
}

.popover-catalog-item:hover a {
  opacity: 0.6;
}

.popover-catalog-item:active a {
  opacity: 0.3;
}

.navigation-menu-item:focus-within .popover-catalog {
  display: block;
}

.navigation-menu-item-catalog:hover .popover-catalog {
  display: block;
}

.navigation-menu-item-catalog:hover .navigation-menu-button.plus {
  display: none;
}

.navigation-menu-item-catalog:hover .navigation-menu-button.minus {
  display: block;
  opacity: 0.3;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 50;
}

.modal-containter {

  column-gap: 40px;
  position: relative;
  margin: auto;
  padding: 72px 80px;
  background-color: #FFFFFF;
  border: 10px solid black;
}

.modal-order {
  width: 920px;
  height: 568px;
}


.modal-title {
  margin-bottom: 42px;
}

.modal-field-title {
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #000;
  margin-bottom: 14px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 84px;
  right: 80px;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.order-form {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 42px;
}

.field-group {
  display: flex;
  flex-direction: column;
}

.form-label-icon {
  position: relative;
}

.form-icon-info {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: 3px;
  margin-left: 8px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-form-info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-field-input {
  padding: 20px;
  font: inherit;
  border: none;
  background-color: #f0f0f0;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000;
}

.modal-field-input::placeholder {
  opacity: 0.3;
}

.modal-field-input:hover {
  background-color: #dcdcdc;
}

.modal-field-input:focus {
  background-color: #f0f0f0;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-field-input:disabled,
.modal-field-input:disabled:hover {
  background-color: #f0f0f0;
  opacity: 0.3;
}

.modal-field-input:focus:invalid {
  border-color: #ff3d3d;
  outline: none;
}

.modal-field-message {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}

.modal-field-input:focus:invalid+.modal-field-message {
  color: #ff3d3d;
}