/* Common */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

address {
  font-style: normal;
}

.center {
  width: 1160px;
  margin: 0 auto;
}

.page {
  scroll-behavior: smooth;
  height: 100%;
  color: #444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 167%;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-main {
  flex-grow: 1;
}

.title {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
}

.button {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.logo {
  display: block;
}

/* Header */

.page-header {
  background-image: linear-gradient(to bottom, #ffffff 40px, #ffe17f 40px);
  padding: 18px 60px 0;
}

.header-top {
  display: flex;
  padding: 30px 0;
}

/* Header User Menu */

.user-menu-list {
  display: flex;
  align-items: center;
  width: 497px;
  height: 40px;
}

.user-menu-left {
  display: flex;
  margin-right: auto;
  gap: 28px;
}

.user-menu-right {
  display: flex;
  gap: 28px;
}

.user-menu-link {
  color: #000;
  text-decoration: none;
}

.user-menu-login::before {
  content: url(../img/header-icon-login.svg);
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.user-menu-compare::before {
  content: url(../img/header-icon-compare.svg);
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.user-menu-cart {
  position: relative;
}

.user-menu-cart::before {
  content: url(../img/header-icon-cart.svg);
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.cart-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -15px;
}

/* Header Navigation */

.navigation-menu-list {
  display: flex;
}

.navigation-menu-link {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-menu-catalog {
  display: flex;
  margin-right: auto;
  position: relative;
  cursor: pointer;
}

.navigation-menu-button {
  display: flex;
  width: 50px;
  height: 51px;
  border: 2px solid black;
  border-radius: 100%;
  opacity: 0.3;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -70px;
  top: -11px;
}

.navigation-menu-right {
  display: flex;
  gap: 47px;
}

/* Footer */
.page-footer {
  background-color: #444;
}

.footer-content {
  padding: 62px 0;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  width: 239px;
}

.footer-line {
  margin-top: 64px;
}

.footer-address {
  margin-top: 32px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

.footer-center {
  width: 444px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-social {
  display: flex;
  margin-top: 64px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer-telefon {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

.footer-developer {
  margin-top: 64px;

}

/* Forms */

.search-form {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  margin-right: auto;
}

.search-field-group {
  display: flex;
}

.search-field-input {
  font-family: inherit;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  border: 2px solid #000;
  border-radius: 50px 0 0 50px;
  padding-left: 16px;
  width: 359px;
  height: 40px;
  background-color: transparent;
  border-right: none;
}

.search-field-input:focus {
  outline: none;
}

.search-field-input::placeholder {
  font-family: inherit;
  color: #000;
}

.search-field-button {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0 50px 50px 0;
  width: 160px;
  cursor: pointer;
}

.search-field-group .search-field-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  z-index: 2;
}

.text-field__group .text-field__btn {
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.subscribe-field-group {
  display: flex;
  border-bottom: 3px solid #cecece;
  width: 809px;
}


.subscribe-field-input {
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  width: 557px;
  height: 55px;
  padding: 0px 0px 0px 16px;
  outline: none;

}

.subscribe-field-button {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  border-top: 3px solid #cecece;
  border-left: 3px solid #cecece;
  border-right: 3px solid #cecece;
  border-bottom: none;
  width: 292px;
  height: 57px;
}

/* Slider */

.slider {
  margin-bottom: 70px;
}

.slider-container {
  position: relative;
}

.slider-container::before {
  content: "";
  position: absolute;
  display: block;
  width: 1160px;
  height: 152px;
  top: 0;
  background-color: #ffe17f;
  z-index: -1;
}

.slider-controls {
  position: absolute;
  display: flex;
  gap: 20px;
  right: 0;
  bottom: 173px;
  z-index: 30;
}

.slider-control {
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #000;
  border-radius: 50%;
  background: transparent;
}

.slider-control-active {
  background-color: #000;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.slider-item-active::after {
  content: attr(data-number);
  font-size: 180px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.79px;
  color: #fff;
  position: absolute;
  top: 14px;
  right: 48px;
  z-index: 10;
}

.slider-image {
  display: block;
  height: 560px;
}

.slider-image-controls svg:first-child {
  position: absolute;
  top: 211px;
  left: 30px
}

.slider-image-controls svg:last-child {
  position: absolute;
  top: 211px;
  left: 560px
}

.slider-content {
  width: 560px;
  padding-top: 123px;
  z-index: 20;
}

.slider-title {
  z-index: 20;
}

.slider-description {
  padding: 29px 0 51px;
}

.slider-button {
  width: 220px;
  height: 40px;
  margin-bottom: 50px;
  position: relative;
}

.slider-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  margin-top: -10px;
  background-color: #ffe17f;
}

.slider-details {
  display: flex;
  gap: 20px;
}

.slider-details-item {
  width: 147px;
}

.slider-details-item dt {
  font-weight: 400;
  font-size: 36px;
  line-height: 83%;
  color: #000;
  margin-bottom: 12px;
}

.slider-details-item dd {
  font-size: 16px;
  line-height: 187%;

}

/* Category */
.category {
  margin-bottom: 70px;
}

.category-list {
  display: flex;
  justify-content: space-between;
}

.category-item {
  width: 160px;
}

.category-link p {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #000;
  text-decoration: none;
}

.category-image {
  display: block;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  margin-bottom: 32px;
}

/* Advantages */
.advantages {
  height: 390px;
  background-image: linear-gradient(to bottom, #ffffff 100px, #f0f0f0 100px);
}

.advantages-content {
  display: flex;
}

.advantages-list {
  width: 280px;
  height: 320px;
  border-right: #000 solid 7px;
  padding: 65px 0;
}

.advantages-button {
  display: block;
  background: 0 0;
  border: none;
  text-align: center;
  z-index: 10;
  width: 160px;
}

/* font-family: "Raleway", sans-serif;
color: #000;
font-weight: 800;
font-size: 18px;
letter-spacing: 0.2em;
text-transform: uppercase;
text-decoration: none;
text-align: center;
cursor: pointer; */

.advantages-item-active {
  display: inline-block;
  color: #ffe17f;
  background-color: #000;
}

.advantages-block {
  padding: 72px 63px 72px 116px;
}

/* Special */
.special {
  background-color: #f0f0f0;
}

.special-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

/* Info */
.info-container {
  display: flex;

}

/* About */

.about-text,
.contacts-text {
  line-height: 167%;
}

.about-list-item {
  color: #ffc700;
}

.about-list-item-text {
  color: #000;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
}

/* Contacts */
.contacts-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
}

.contacts-telefon {
  color: inherit;
  text-decoration: none;
}

/* Subscribe */
.subscribe {
  background-color: #f0f0f0;
}

.subscribe-top {
  display: flex;
  padding: 64px 0 114px;

}

.subscribe-title {
  margin-right: auto;
}

.subscribe-text {
  width: 560px;
}

.subscribe-bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 52px;
}

/* Catalog header */

.catalog-header {
  padding: 35px 21px 35px 60px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

/* Catalog */

.catalog {
  background-color: #f0f0f0;
}

.catalog-content {
  display: flex;
}

/* Filter */

.filter,
.sort {
  background-color: #f0f0f0;
}

.filter-title,
.sort-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
}

.filter {
  box-sizing: border-box;
  width: 320px;
  padding: 25px 60px 0;
}

.filter-fieldset-title {
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #000;
}

.filter-button {
  border: none;
}

/* Sort */

.sort {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
}

.sort-field-select {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  background-color: #fff;
  padding: 70px 40px 0px 40px;

}

.card-link {
  text-decoration: none;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #000;
}

/* Pagination */
.pagination-content {
  box-sizing: border-box;
  padding: 25px;

  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
}

.pagination-button {
  background-color: #fff;
  font-size: 16px;
  border: 3px solid #e5e5e5;
  width: 760px;
  height: 55px;
}

.pagination-list {
  display: flex;
}

.pagination-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 125%;
  color: inherit;
}